body {
  font-family: sans-serif;
}

img[alt="Sleeping Bear Logo"] {
  max-width: 200px;
  display: block;
  margin: 32px auto 16px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 20em;
}

input {
  margin-bottom: 1em;
}

button[type="submit"] {
  max-width: 8em;
}

button[type="reset"] {
  max-width: 8em;
}

nav {
  display: flex;
  flex-direction: row;
}

a {
  margin-right: 1em;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
}